<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PPX_FilterAndStickers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>570672141DC0AF4C00B6BE63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5706722D1DC0AF4C00B6BE63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>570672381DC0AF4C00B6BE63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
